.dashboard{
    background-color: #ffffff;
    padding: 20px 10px 0 10px;
}
.user-profile{
    display: flex;

}
.user-profile img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
.username h4{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.location{
    margin-top: 10px;
    color: #636e72;
    display: flex;
}
.location .icon {
    margin-top: 3px;
    margin-right: 10px;
}
.location p{
    margin: 0;
    font-size: 14px;
}
.physical-info{
    width: 80%;
    background-color: #ececec;
    color: #64696b;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 15px;
}
.physical-info-bold{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.break-time, .exercise-time-count, .break-time-count{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
    background-color: #ececec;
    border-radius: 15px;
}
.break-time p{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.break-time p:hover{
    background-color: #ff6347;
    color: #ffffff;
}
.break-time-count {
    margin: 20px 0;
}
.dashboard button{
    width: 100%;
    background-color: #ff6347;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    border: 0;
    border-radius: 8px;
    padding: 12px 0;
}